<!-- Header -->
<header>
    <div class="container">
        <div class="row-fluid">
            <!-- logo -->
            <div class="span6 logo">
                <a href="/home"><img src="{echo CDN}images/logo.png" alt="" /></a>
            </div>
            <!-- End Logo -->
            <!-- Social menu -->
            <div class="span6" id="social">
                <ul class="social">
                    <li class="twitter">
                        <a target="_blank" href="https://twitter.com/ayurved123">&nbsp;</a>
                    </li>
                    <li class="facebook">
                        <a target="_blank" href="https://www.facebook.com/ayurvedatreatment12">&nbsp;</a>
                    </li>
                </ul>
            </div>
            <!-- End Social Menu -->
        </div>
        <!--/.row-fluid -->
    </div>
    <!--/.container -->
</header>
<!-- End Header -->
<!-- Section top -->
<section id="top">
    <div class="container">
        <!-- Main Menu -->
        <div class="navbar">
            <div class="navbar-inner">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          Main Menu
            </a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="/">Home </a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    About
                  </a>
                            <ul class="dropdown-menu">
                                <li><a href="/about">Abouts Us</a></li>
                                <li><a href="/ayurveda">Why Ayurveda</a></li>
                                <li><a href="/feedback">Feedback</a></li>
                                <li><a href="/gallery">Gallery</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Packages
                  </a>
                            <ul class="dropdown-menu">
                                <li><a href="/ayurveda/panchkarma">Panchkarma</a></li>
                                <li><a href="/packages/BeautyTreatment">Beauty Treatments</a></li>
                                <li><a href="/packages/WeightLoss">Weight Loss</a></li>
                            </ul>
                        </li>
                        <li><a href="/medicine">Medicines</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.navbar-inner -->
        </div>
        <!--/.navbar -->
        <!-- End Main Menu -->
        {if(URL=="http://ayurvedatreatment.in/" || URL=="http://ayurvedatreatment.in/home")}
        <!-- Home page Carousel -->
        <div class="frame">
            <div id="myCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">              
                    <div class="item"><img src="{echo CDN}img/slider/2.jpg" alt="" />
                        <div class="carousel-caption">
                            <p>“Ayurveda teaches us to cherish our innate-nature - "to love and honor who we are", not as what people think or tell us, “who we should be.” </p>
                        </div>
                    </div>
                    <div class="active item"><img src="{echo CDN}img/slider/3.jpg" alt="" />
                        <div class="carousel-caption">
                            <p>“To follow our bliss and dive deeply into the mysteries of fragrance, color, and taste; blend with the magnificent diversity of mother nature; and follow the inner signs to become aware of who we really are - is the Alchemy of Ayurvedic Cookery” </p>
                        </div>
                    </div>
                    <div class="item"><img src="{echo CDN}img/slider/4.jpg" alt="" />
                        <div class="carousel-caption">
                            <p>“You can also avail our single short treatments like Abyangam – a special massage of the whole body to sooth the muscles, increase the vigor & rejuvenate all the senses. It is the best massage to delay ageing and is a preventive massage for good health.”</p>
                        </div>
                    </div>
                </div>
                <!--/.carousel-inner -->
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
            </div>
            <!--/#myCarousel -->
        </div>
        <!--/.frame -->
        <!-- End Home page Carousel -->
        {/if}
    </div>
    <!--/.container -->
</section>
<!--/#top -->
<!-- End Section top -->
