<!-- Header -->
    <header>
      <div class="container">
        <div class="row-fluid">
      <!-- logo -->
          <div class="span6 logo">
            <a href="/home"><img src="{echo CDN}images/newlogo.PNG" alt="" /></a>
          </div>
      <!-- End Logo -->
          
          <!-- Social menu -->
      <div class="span6" id="social">
            <ul class="social">
              <li class="twitter">
                <a target="_blank" href="#">&nbsp;</a>
              </li>
              <li class="facebook">
                  <a target="_blank" href="https://www.facebook.com/ayurvedatreatment12">&nbsp;</a>
              </li>
            </ul>
          </div>
          <!-- End Social Menu -->
      
        </div><!--/.row-fluid -->
      </div><!--/.container -->
    </header>
    <!-- End Header -->
    
    <!-- Section top -->
    <section id="top">
      <div class="container">
        <!-- Main Menu -->
        <div class="navbar">
          <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          Main Menu
            </a>
            <div class="nav-collapse">
              <ul class="nav">
                <li><a href="/">Home </a></li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    About
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/about">Abouts Us</a></li>
                    <li><a href="/ayurveda">Why Ayurveda</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Packages
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/ayurveda/panchkarma">Panchkarma</a></li>
                    <li><a href="/packages/MassageTherapies">Massage Thrapies</a></li>
                    <li><a href="/packages/BeautyTreatment">Beauty Treatments</a></li>
                    <li><a href="/packages/CombinationalTherapies">Combinational Thrapies</a></li>
                    <li><a href="/packages/SeasonalTreatment">Seasonal Treatment</a></li>
                    <li><a href="/packages/WeightLoss">Weight Loss</a></li>
                    <li><a href="/packages/special">Special Package</a></li>
                  </ul>
                </li>
                
        <li><a href="/medicines">Medicines</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div><!--/.navbar-inner -->
        </div><!--/.navbar -->
        <!-- End Main Menu -->
        {if(URL=="http://localhost/appointmgmt/" || URL=="http://localhost/appointmgmt/home")}
        <!-- Home page Carousel -->
        <div class="frame">
          <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item"><img src="{echo CDN}img/slider/1.jpg" alt="" />
                <div class="carousel-caption">
                  <p>“Because we cannot scrub our inner body we need to learn a few skills to help cleanse our tissues, organs, and mind. This is the art of Ayurveda.”</p>
                </div>
              </div>
              <div class="item"><img src="{echo CDN}img/slider/2.jpg" alt="" />
                <div class="carousel-caption">
                  <p>“Ayurveda teaches us to cherish our innate-nature - "to love and honor who we are", not as what people think or tell us, “who we should be.” </p>
                </div>
              </div>
              <div class="item"><img src="{echo CDN}img/slider/3.jpg" alt="" />
                <div class="carousel-caption">
                  <p>“To follow our bliss and dive deeply into the mysteries of fragrance, color, and taste; blend with the magnificent diversity of mother nature; and follow the inner signs to become aware of who we really are - is the Alchemy of Ayurvedic Cookery” </p>
                </div>
              </div>
              <div class="item"><img src="{echo CDN}img/slider/4.jpg" alt="" />
                <div class="carousel-caption">
                  <p>“Man is the epitome of the universe. Within man, there is as much diversity as in the world outside. Similarly, the outside world is as diverse as human beings themselves. (The Ancient Ayurveda text, Charaka)”</p>
                </div>
              </div>

            </div><!--/.carousel-inner -->
  
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
          </div><!--/#myCarousel -->
        </div><!--/.frame -->
        <!-- End Home page Carousel -->
        {/if}
      </div><!--/.container -->
    </section><!--/#top -->
    <!-- End Section top -->