<!-- Section content -->
    <section id="content">
      <div class="container">
        <div class="row-fluid">
	  <div class="page clearfix">
	    <div class="span4 hid">
	      <img src="{echo CDN}images/gallery/krishnendu_ayurveda_treatment5.jpg" alt=""  />
	    </div>
	    <div class="span4">
	      <img src="{echo CDN}images/gallery/ayurveda-hair-treatment.jpg" alt=""  />
	    </div>
	    <div class="span4 hid">
	      <img src="{echo CDN}images/gallery/images-1.jpg" alt=""  />
	    </div>
	    
	    <div class="clearfix"></div>

	    <h3 class="marg-top-med">Panchakarma (Sodhana) or the internal cleansing</h3>
	    <p>Sodhana is employed when there is a pronounce imbalance of Doshas in the body that has to be eliminated. There are five evacuative procedures commonly called Panchakarmas.

Vasthi (Therapeutic Enema)
Vamana (Therapeutic Emesis)
Virechana	(Therapeutic Purgation)
Nasya	(Nasal Medication)
Asra Visruthi	(Blood letting)</p>
	    <p>Internal cleansing removes the cause or root of an illness and corrects the imbalance of the bio-energies. Internal cleansing therapy normalizes the physical constitution and calms the three bio-energies.</p>
	    <h3 class="marg-top-med">Our Specialities</h3>
	    <p>THREE STAGES:</p>
	    <ul>
	    	<li>PRETREATMENT: Every type of physiological cleansing requires strength and energy from the part of the patient. This procedure prepares the patient for the main cleansing course. It consists of internal medication to stimulate the digestion, oil therapies (different type of medicated massages and oil therapies) and sweat therapies.</li>
	    	<li>PANCHAKARMA: This treatment consists of five forms of cleansing –emesis (vomiting), purging (emptying the bowels with laxatives), nasya (treating mucous through the nose), Medicated enemas, Phlebotomy. According to the diagnosis the physician will decide which Panchakarma therapy is suitable and the course of treatment.</li>
	    	<li>TREATMENT: Depending on the goal and the way the patient’s body react to the treatment, the cleansing therapy is followed by different post-treatment procedures. These include diet adjustments, rejuvenating and health promoting medications and calming therapies.</li>
	    </ul>
	  </div> <!--/.page -->  
      </div> <!--/.row-fluid -->
      </div> <!--/.Container -->
    </section> <!--#content -->
    <!-- End Section content-->