<!-- Section content -->
    <section id="content">
      <div class="container">
        <div class="row-fluid">
	  <div class="page clearfix">
	    <div class="span4 hid">
	      <img src="{echo CDN}img/gallery/1.jpg" alt=""  />
	    </div>
	    <div class="span4">
	      <img src="{echo CDN}img/gallery/3.jpg" alt=""  />
	    </div>
	    <div class="span4 hid">
	      <img src="{echo CDN}img/gallery/8.jpg" alt=""  />
	    </div>
	    
	    <div class="clearfix"></div>
	    
	    <div class="caption">
	      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel nisl sem. Integer vitae turpis sem, nec sollicitudin eros. Sed libero nisl, consequat sit amet vehicula sed, facilisis at nunc. In ultrices nisl ac nibh vestibulum non porttitor augue porttitor. Aliquam vel nisl sem. Integer vitae turpis ipsum dolor sit amet, consectetur adipiscing. Vivamus ut dui metus Pellentesque</h3>
	    </div> <!--/.caption -->

	    <h3 class="marg-top-med">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel nisl sem</h3>
	    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus est a diam tristique adipiscing. Ut mattis feugiat sem nec feugiat. Nunc nec justo ligula. Nulla ut elit felis. Suspendisse potenti. Proin ornare ante adipiscing mi condimentum commodo. Duis egestas consequat velit. Aenean iaculis lectus sit amet purus faucibus non dapibus quam bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae. </p>
	    <p>Nulla lacinia, eros ac tristique imperdiet, urna nulla scelerisque diam, imperdiet molestie nisl mauris nec magna. Ut ullamcorper ultrices est, vel adipiscing nisl venenatis vel. Ut ut diam nulla. Sed laoreet dui ut metus imperdiet a gravida orci fringilla. Nullam non molestie mauris. Suspendisse accumsan metus sed arcu commodo malesuada. Nam purus ligula, accumsan eu imperdiet non, auctor eu ligula. Ut malesuada ligula in magna malesuada vestibulum. Sed vitae dolor non elit aliquet consectetur. Pellentesque adipiscing faucibus euismod. Vestibulum sapien lorem, suscipit sit amet pretium ut, fringilla vitae dolor. Nulla et ante vitae dolor hendrerit placerat.</p>
	    <h3 class="marg-top-med">Imperdiet molestie nisl mauris nec magna</h3>
	    <p>Imperdiet molestie nisl mauris nec magna. Ut ullamcorper ultrices est, imperdiet a gravida orci fringilla. Nullam non molestie mauris. Suspendisse accumsan metus sed arcu commodo malesuada. Nam purus ligula, accumsan eu imperdiet non, auctor eu ligula. Ut malesuada ligula in magna malesuada vestibulum. Sed vitae dolor non elit aliquet consectetur. Pellentesque adipiscing faucibus euismod. Vestibulum sapien lorem, suscipit sit amet pretium ut, fringilla vitae dolor. Nulla et ante vitae dolor hendrerit placerat.</p>
	  </div> <!--/.page -->  
        </div> <!--/.row-fluid -->
      </div> <!--/.Container -->
    </section> <!--#content -->
    <!-- End Section content-->