<!-- Section content -->
    <section id="content">
      <div class="container">
        <div class="row-fluid">
	  <div class="page clearfix">
	    <div class="span4 hid">
	      <img src="{echo CDN}img/gallery/1.jpg" alt=""  />
	    </div>
	    <div class="span4">
	      <img src="{echo CDN}img/gallery/3.jpg" alt=""  />
	    </div>
	    <div class="span4 hid">
	      <img src="{echo CDN}img/gallery/8.jpg" alt=""  />
	    </div>
	    
	    <div class="clearfix"></div>
	    
	    <div class="caption">
	      <h3>We promote health, wellness, Beauty & cure through natural healing system to mankind.</h3>
	    </div> <!--/.caption -->

	    <h3 class="marg-top-med">Kerala Mancheril Ayurveda</h3>
	    <p>Kerala Mancheril Ayurveda has its roots from Kerala “Kerala Mancheril Thomman Family” is known for Ayurveda Vaidyans (Physicians). We provide Special treatment for Migraine and tonsils. The vast traditional knowledge is handed over to Generations. The Centre is managed by Mary Kerala Mancheril and her team of Doctors and Experts. We provide best result oriented treatments at the same systematic manner with professional perfection and real value as it is in Kerala.</p>
	    <p>The major sources of Ayurvedic Treatments are pure herbs and minerals which has no side effects. This system provides low cost treatment for various common disorders and several chronic ailments. According to Ayurveda, health is maintained by three functional Mechanisms vata, pitta and kapha. It focuses on causes rather than symptoms and it has preventive measures, promotive and curative interventions.It is a comprehensive health care system.</p>
	    <h3 class="marg-top-med">Our Specialities</h3>
	    <p>We offer relaxation, rejuvenation and weight reduction therapies.
Kerala Mancheril Ayurveda offer safe and effective treatment for anxiety, sleeplessness, depression and other stress related ailments .We also treat Joint Pain ,Back Pain, Neck Pain, Frozen Shoulder, Spondilitis ,Sports Injuries, Arthritis, Paralysis, Migraine, Piles,Tonsilitis, Asthma, Diabetes, Obesity ,Allergy, Skin Ailments, Psoriasis, Peptic Ulcer, Acidity, Gynecological Disorders, Auto Immune diseases, all Neurological complaints, Degenerative diseases etc.</p>
	  </div> <!--/.page -->  
        </div> <!--/.row-fluid -->
      </div> <!--/.Container -->
    </section> <!--#content -->
    <!-- End Section content-->