 <!-- Section frame-->
    <section id="frame">
      <div class="container">
	<div class="row-fluid">
	  <div class="frame">
	    <iframe src="https://maps.google.com/?ie=UTF8&amp;ll=28.5277335,77.2910662&amp;spn=0.03533,0.084543&amp;t=m&amp;z=14&amp;output=embed"></iframe>
	  </div> <!--/.frame -->
	</div> <!--/.row-fluid -->
      </div> <!--/.container -->
    </section>
    <!-- End Section frame-->

    <!-- Section content -->
    <section id="content" class="contact">  
      <div class="container">
	<div class="row-fluid">
	  <div class="span7">
	    <div class="page clearfix no-marg-bottom">
	      <h3 class="tree">Contact Us</h3>
	      <p>We are always ready to help. Contact us by filling the form or other options available.We reply  sooner than you expect. Still other options are open.</p>
	 
	      <ul class="contact">
		<li><i class="call"></i><strong>Call us:</strong> (+91)-9999498910, (+91)-9811754580, +(91)-(011)- 22611386</li>
		<li><i class="address"></i><strong>Branch :</strong>  B-1114, G.D. Colony , Mayur Vihar Phase-3, Delhi-110096 (India)
		</li>
		<li><i class="call"></i><strong>Call us:</strong>  +(91) - (011) – 4656-6363, (+91)-9999498910,  +(91)-9999498910 / 9811754580</li>
		<li><i class="address"></i><strong>Branch :</strong>  22/1,Shanti Bhawan ,Opp. Gate No-2 Pkt- C sarita Vihar, New Delhi-110076
		</li>
		<li><i class="email"></i><strong>Email us:</strong> info@ayurvedatreatment.in</li>
	      </ul>
     
	      <ul class="social c2">
		<li class="google">
		  <a target="_blank" href="#">&nbsp;</a>
		</li>
		<li class="facebook">
		  <a target="_blank" href="https://www.facebook.com/ayurvedatreatment12">&nbsp;</a>
		</li>
		<li class="twitter">
		  <a target="_blank" href="#">&nbsp;</a>
		</li>  
	      </ul>
	    </div> <!--/.page .clearfix .no-marg-bottom -->
	  </div> <!--/.span7 -->
    
	  <div class="span5">
	    <div class="page dark no-marg-bottom">
	      <h3 class="snow">Send a Message to us</h3>
	      <form id="formID" method="post" action="#">
		<label>Your Name (Required)</label>
		<input name="name" class="validate[required] text-input span12" type="text" data-prompt-position="topRight:-70">
		      
		<label>Your Email Address (Required)</label>
		<input class="validate[required,custom[email]] text-input span12" type="email" name="email">
			
		<label>Your Phone Number</label>
		<input name="contact" class="validate[required,custom[integer],minSize[10],maxSize[12]] text-input span12" type="text" data-prompt-position="topLeft">
			
		<label>Your Comment (Required)</label>
		<textarea class="validate[required] text-input span12"></textarea>
		      
		<input type="submit" class="btn-green" value="Submit" /> 
	      </form>
	    </div> <!--/.page .dark .no-marg-bottom -->
	  </div> <!--/.span5 -->
	</div> <!--/.rpw-fluid -->
      </div> <!--/.Container  -->
    </section>
    <!-- End Section content -->