<!-- Section content -->
<section id="content">
    <div class="container">
        <div class="row-fluid">
            <div class="page clearfix">
                <h3 class="marg-top-med">We believe in customers Feedback</h3>
                <div class="span8 no-marg-left">
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="active accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseOne">Sample Question 1</a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse" style="height: 0px; ">
                                <div class="accordion-inner">
                                    <p>Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                                </div>
                            </div>
                        </div>
                        <!--/.accordion-group -->
                    </div>
                    <!--/.accordion -->
                </div>
                <!--/.span9 -->
                <div class="span4">
                    <div class="page dark">
                        <h3 class="snow">Write to us</h3>
                        <p>How was our service, were you satisfied?</p>
                        <form id="formID" method="post" action="#">
                            <label>Name</label>
                            <input name="name" class="validate[required] text-input span12" type="text" data-prompt-position="topRight:-70">
                            <label>Email</label>
                            <input name="email" class="validate[required,custom[email]] text-input span12" type="text" data-prompt-position="topRight:-70">
                            <label>Contact Number</label>
                            <input name="contact" class="validate[required,custom[integer],minSize[10],maxSize[12]] text-input span12" type="text" data-prompt-position="topLeft">
                            <label>Feedback</label>
                            <textarea class="validate[required] text-input span12"></textarea>
                            <input type="submit" class="btn-green" value="SUBMIT" />
                        </form>
                    </div>
                    <!--/.page .dark -->
                </div>
                <!--/.span3 -->
            </div>
            <!--/.page -->
        </div>
        <!--/.row-fluid -->
    </div>
    <!--/.Container -->
</section>
<!--#content -->
<!-- End Section content-->
