
    <!-- Section content -->
    <section id="content">
      <div class="container">
	<div class="row-fluid">
	  <div class="span12">  
<br/>
	    
	    <!-- Gallery Items -->
	    <ul class="gallery group 3-col"> 
	      <li class="item span4" data-id="id-1" data-type="Category-3">
		<a href="{echo CDN}img/gallery/1.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/1.jpg" alt="Yulia Gorbachenko, Hannah 1" /></a>
	      </li> 
	      <li class="item span4" data-id="id-2" data-type="Category-5">
		<a href="{echo CDN}img/gallery/2.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/2.jpg" alt="Yulia Gorbachenko, Hair 1" /></a>
	      </li>
	      <li class="item span4" data-id="id-3" data-type="Category-1">
		<a href="{echo CDN}img/gallery/3.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/3.jpg" alt="Yulia Gorbachenko, Hair 2" /></a>
	      </li>
	      <li class="item span4" data-id="id-4" data-type="Category-2">
		<a href="{echo CDN}img/gallery/4.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/4.jpg"  alt="Yulia Gorbachenko, Traction 1" /></a>
	      </li>
	      <li class="item span4" data-id="id-5" data-type="Category-6">
		<a href="{echo CDN}img/gallery/5.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/5.jpg" alt="Yulia Gorbachenko, Traction 1" /></a>
	      </li>
	      <li class="item span4" data-id="id-6" data-type="Category-4">
		<a href="{echo CDN}img/gallery/6.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/6.jpg" alt="Yulia Gorbachenko, Beauty 2" /></a>
	      </li>
	      <li class="item span4" data-id="id-7" data-type="Category-2">
		<a href="{echo CDN}img/gallery/7.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/7.jpg"  alt="Yulia Gorbachenko, Wavelength 1" /></a>
	      </li>
	      <li class="item span4" data-id="id-8" data-type="Category-3">
		<a href="{echo CDN}img/gallery/8.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/8.jpg" alt="Yulia Gorbachenko, On Fire 1" /></a>
	      </li>
	      <li class="item span4" data-id="id-9" data-type="Category-6">
		<a href="{echo CDN}img/gallery/9.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/9.jpg" alt="Yulia Gorbachenko, On Fire 2" /></a>
	      </li>
	      <li class="item span4" data-id="id-10" data-type="Category-4">
		<a href="{echo CDN}img/gallery/10.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/10.jpg" alt="Yulia Gorbachenko, Hair 3" /></a>
	      </li>
	      <li class="item span4" data-id="id-11" data-type="Category-5">
		<a href="{echo CDN}img/gallery/11.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/11.jpg" alt="Yulia Gorbachenko, On Fire 3" /></a>
	      </li>
	      <li class="item span4" data-id="id-12" data-type="Category-3">
		<a href="{echo CDN}img/gallery/12.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}img/gallery/12.jpg" alt="Yulia Gorbachenko, Wavelength 2" /></a>
	      </li>
	    </ul>
	    <!-- End Gallery Items -->
	    
	  </div><!--/.span12 -->
	</div> <!--/.row-fluid -->
      </div> <!--/.container  -->
    </section> 
    <!-- End Section content -->  