<!-- Section content -->
<section id="content">
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                <br/>
                <!-- Gallery Items -->
                <ul class="gallery group 3-col">
                    <li class="item span4" data-id="id-1" data-type="Category-3">
                        <a href="{echo CDN}images/center/1.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}images/center/1.jpg" alt="Mancheril Ayurveda Sarita vihar" /></a>
                    </li>
                    <li class="item span4" data-id="id-2" data-type="Category-5">
                        <a href="{echo CDN}images/center/2.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}images/center/2.jpg" alt="Mancheril Ayurveda Sarita vihar" /></a>
                    </li>
                    <li class="item span4" data-id="id-3" data-type="Category-1">
                        <a href="{echo CDN}images/center/3.jpg" data-rel="prettyPhoto[portfolio]"><img src="{echo CDN}images/center/3.jpg" alt="Mancheril Ayurveda Sarita vihar" /></a>
                    </li>
                </ul>
                <!-- End Gallery Items -->
            </div>
            <!--/.span12 -->
        </div>
        <!--/.row-fluid -->
    </div>
    <!--/.container  -->
</section>
<!-- End Section content -->
