<!-- Section content --> 
    <section id="content">
      <div class="container marg-top">
	<div class="row-fluid">
	  
	  <!-- Tab -->
	  <div class="page">  
	    <h3 class="tree">Medicines</h3>
	    <div class="tab-01">
	      <ul id="myTab" class="nav nav-tabs">
		<li class="active"><a href="#arishtas" data-toggle="tab"><b>ARISHTAS</b></a></li>
		<li class=""><a href="#asavas" data-toggle="tab"><b> ASAVAS</b></a></li>
		<li class=""><a href="#kashayams" data-toggle="tab"><b>KASHAYAM</b></a></li>
		<li class=""><a href="#title-four" data-toggle="tab"><b>GHRITHAM</b></a></li>
		<li class=""><a href="#oils" data-toggle="tab"><b>OIL</b></a></li>
		<li class=""><a href="#kuzhambu" data-toggle="tab"><b>KUZHAMBU</b></a></li>
		<li class=""><a href="#kerams" data-toggle="tab"><b>KERAM</b></a></li>
		<li class=""><a href="#pills" data-toggle="tab"><b>PILLS</b></a></li>
		<li class=""><a href="#churnams" data-toggle="tab"><b>CHURNAM</b></a></li>
		<li class=""><a href="#misc" data-toggle="tab"><b>MISC.</b></a></li>
		
	      </ul>
	      <div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="arishtas">
		  <p>
		  	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Medicines</th>
                  <th><center>Indications</center></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Abhayarishtam</td>
                  <td>Hemorrhoids, constipation, oedema, Urinary obstructions, indigestion, intestinal worms, anorexia, ascetics.</td>
                </tr>
              </tbody>
            </table>
		  </p>
		</div>
		<div class="tab-pane fade" id="asavas">
		  <p>
		  	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Medicines</th>
                  <th><center>Indications</center></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Abhayarishtam</td>
                  <td>Hemorrhoids, constipation, oedema, Urinary obstructions, indigestion, intestinal worms, anorexia, ascetics.</td>
                </tr>
              </tbody>
            </table>
		  </p>
		</div>
		<div class="tab-pane fade" id="kashayams">
		  <p>
		  	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Medicines</th>
                  <th><center>Indications</center></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Abhayarishtam</td>
                  <td>Hemorrhoids, constipation, oedema, Urinary obstructions, indigestion, intestinal worms, anorexia, ascetics.</td>
                </tr>
              </tbody>
            </table>
		  </p>
		</div>
		<div class="tab-pane fade" id="title-four">
		  <p>
		  	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Medicines</th>
                  <th><center>Indications</center></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Abhayarishtam</td>
                  <td>Hemorrhoids, constipation, oedema, Urinary obstructions, indigestion, intestinal worms, anorexia, ascetics.</td>
                </tr>
              </tbody>
            </table>
		  </p>
		</div>
		 <div class="tab-pane fade" id="oils">
		  <p>
		  	<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Medicines</th>
                  <th><center>Indications</center></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Abhayarishtam</td>
                  <td>Hemorrhoids, constipation, oedema, Urinary obstructions, indigestion, intestinal worms, anorexia, ascetics.</td>
                </tr>
              </tbody>
            </table>
		  </p>
		</div>
	      </div> <!--#myTabContent -->
	    </div> <!--/.tab-01 -->
	  </div>
	  <!-- End Tab -->
	  </div>
	  </div>
	  </section>