<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Add new Medicine</h1>
            {if isset($success)}
            <div class="alert alert-success alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                Medicine Added <strong>Successfully!</strong>
            </div>
            {/if}
            
            <p>Include Videos and Images in details</p>
            <form method="post" action="">
                <div class="panel panel-default panel-body">
                    <div class="form-group">
                        <label>Medicine Name *</label>
                        <input type="text" name="title" class="form-control" maxlength="100" required="">
                        <span class="help-block">{echo Shared\Markup::errors($errors, "title")}</span>
                    </div>
                    <div class="form-group">
                        <label>Details *</label>
                        <textarea class="form-control editor" name="details" rows="5"></textarea>
                        <span class="help-block">{echo Shared\Markup::errors($errors, "details")}</span>
                    </div>

                    <div class="form-group">
                        <label>Price *</label>
                        <input type="text" class="form-control" name="price">
                        <span class="help-block">{echo Shared\Markup::errors($errors, "payment")}Enter Only Numbers</span>
                    </div>

                    <input type="hidden" name="action" value="medicine">
                    <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-check-circle"></i> Create</button>
                </div>

            </form>
        </div>
    </div>
</div>